* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}


.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Changed this selector from 'a' to '.head nav a' to makes it's purpose clearer.*/
.header nav a {
    color: #ffffff;
    text-decoration: none;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Removed img src from CSS and moved into HTML so I could add ALT text */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Included font-family and color in this section to simplify code*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
} 

/* Placed selectors refering to children of content under the content selector for better cohesion.*/

/* There were 3 individual selectors for each content category, now there's only one child selector. */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* There were 3 individual selectors for each content category, now there's only one child selector. */
.content img {
    max-height: 200px;
}

/* Originally these were repeating indivual selectors, I combined them into grouping selectors. Also changed their name for better naming scheme cohesion. */
.search-engine-optimization, 
.online-reputation-management, 
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* There were 3 individual selectors for each content category, now there's only one child selector. */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* There were 3 individual selectors for each content category, now there's only one child selector. */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Originally these were repeating indivual selectors, I combined them into grouping selectors. Also changed their name for better naming scheme cohesion. */
.lead-generation, 
.brand-awareness, 
.cost-management {
    margin-bottom: 32px;
    color: #ffffff;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Changed from h3 to h4 to make headings sequential. */
.footer h4 {
    font-size: 20px;
}